  
    body {
        background-color: #10864b;
        font-size: 18px;
        }
 
    header {
        width: 100%;
        max-width: 960px;
        height: 100px;
        margin: 0 auto;
        clear: both;
        }
 
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        }
 
    main {
        width: 100%;
        max-width: 960px;
        height: auto;
        margin: 0 auto;
        }

    /* #show-number {
        color: #fffefe;
        }

    #under10Seconds {

        }

    #under20Seconds {


        }
 */

    /* div {
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 10s;
    }
    
    @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
    } */
